@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

a:link {
    color: Black;
}

a:active {
    color: blue
}

a:visited {
    color: black;
}

a:hover {
    color: Red;
}

.container {
    position: relative;
    /* text-align: center; */
    color: white;
}

.centered {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
/* 
    .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
    } */

    /* .bottom {
        color: black;
    } */
}

.p1.centered {
    /* font-family: Yu Gothic UI Light; */
    font-family: Poppins;
}