.navbar {
  /* width: 100%; */
  background-color: #ffffff;
  overflow: auto;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar a {
  float: left;
  padding: 12px;
  color: gray;
  text-decoration: none;
  font-size: 18px;
}

.links {
  margin-top: 4px;
}

.navbar a:hover {
  color: black;
}