@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('http://fonts.cdnfonts.com/css/audi-type-2');
@import url(audi-core-ci-reset-and-basic.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body,
html {
    font-family: 'Audi Type', sans-serif;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.avs {
    display: flex;
    transition: 10s;
}

.avs img {
    width: 575px;
    height: 600px;
    padding-left: 175px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.avs-text {
    position: relative;
    top: 325px;
    left: 60px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.avs-text button {
    border: none;
    outline: 0;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    margin: 0px 4px 32px 0px;
    padding: 21px 48px;
    font-size: 18px;
}

.avs-text button:hover {
    background-color: #555;
    color: white;
}

.ar {
    display: flex;
    transition: 10s;
}

.ar img {
    width: 75%;
    height: 60%;
    padding-left: 175px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.ar-text {
    position: relative;
    top: 325px;
    left: 60px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.ar-btn1 {
    border: none;
    outline: 0;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    margin: 0px 4px 32px 0px;
    margin-left: 00px;
    margin-top: 30px;
    padding: 21px 48px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.ar-btn1:hover {
    background-color: #555;
    color: white;
}

.ar-btn2 {
    border: solid 1px #000;
    outline: 0;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin: 0px 4px 32px 0px;
    margin-left: 1px;
    margin-top: 30px;
    padding: 21px 48px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.ar-btn2:hover {
    color: #777;
}

.hero-image {
    background-image: url("./audiQ3.jpg");
    height: 95%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 8px;
    left: 60px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.hero-text button {
    border: none;
    outline: 0;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    margin: 0px 4px 32px 0px;
    padding: 21px 48px;
    font-size: 18px;
}

.hero-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 0;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.models {
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
    margin: 20px;
}

.models img {
    flex: 0 0 auto;
    width: auto;
    height: 100px;
    max-width: 100%;
    margin-right: 10px;
}

.card {
    position: sticky;
    max-width: 600px;
    width: 43%;
    /* height: 23%; */
    background-color: white;
    left: 50px;
    top: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


.card h1 {
    text-align: left;
    padding-left: 40px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.card p {
    margin-top: 30px;
    padding-left: 40px;
    font-family: "Raleway", sans-serif;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#b1 {
    border: none;
    outline: 0;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    margin: 0px 4px 32px 0px;
    margin-left: 40px;
    margin-top: 30px;
    padding: 21px 48px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

#b1:hover {
    background-color: #555;
    color: white;
}

#b2 {
    border: solid 1px #000;
    outline: 0;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin: 0px 4px 32px 0px;
    margin-left: 1px;
    margin-top: 30px;
    padding: 21px 48px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

#b2:hover {
    color: #777;
}

.bg-image {
    height: 80%;
    padding-block-start: 500px;
    padding-block-end: 200px;
    background-image: url("./E-tronHub-3840X4000.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.audi-connect {
    background-color: #000;
    display: flex;
}

.audi-connect img {
    width: 675.833;
    height: 948;
    margin-left: 400px;
    /* padding-left: 400px; */
    float: right;
    background-color: #000;
}

.actxt {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.actxt p{
    font-family: 'Audi Type', sans-serif;
    font-size: 25px;
}