@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url("http://fonts.cdnfonts.com/css/audi-type-2");
@import url(audi-core-ci-reset-and-basic.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body,
html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  /* background-color: rgba(170, 174, 175, 0.26); */
}

.img_border {
  width: 100%;
  height: 450px;
  /* border: solid; */
  /* border-width: 1px; */
  border-color: #d3d3d3;
}

/* .img_border ul li {
            display: inline;
            list-style: none;
            padding: 0px 5px;
        } */
/* .sideimg {
  float: left;
  width: 50%;
  height: 50%;
} */
h1 {
  font-weight: bold;
  text-align: center;
}

.about {
  height: 800px;
  width: 100%;
  margin: 50px 0px;
  background-color: black;
}
.about img {
  float: right;
}

.careers {
  height: 500px;
  width: 100%;
  background-color: #ececec;
}

.careers img {
  float: left;
}

button {
  width: 250px;
  height: 60px;
  background-color: #bb082f;
  border: none;
  color: #ffffff;
  font-size: 20px;
}

.news {
  height: 500px;
  width: 100%;
  margin: 50px 0px;
  background-color: #ececec;
}

.news img {
  float: right;
}

.compliance {
  height: 500px;
  width: 100%;
  background-color: #ececec;
}

.compliance img {
  float: left;
}

.audi_ag {
  height: 500px;
  width: 100%;
  margin: 50px 0px;
  background-color: #ececec;
}

.audi_ag img {
  float: right;
}

a {
  text-decoration: none;
  color: #000000;
}

.discover {
  margin: 0px 50px;
}

.discover img {
  width: 380px;
  height: 250px;
  left: 20px;
  position: relative;
}

.discover p {
  display: inline-block;
  margin: 0px -60px;
  font-family: AudiTypeWide, sans-serif;
  font-size: 20px;
}
