@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url("http://fonts.cdnfonts.com/css/audi-type-2");
@import url(audi-core-ci-reset-and-basic.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body,
html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-color: rgba(170, 174, 175, 0.26);
}

.main-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.main-text {
  position: absolute;
  top: 480px;
  left: 60px;
  color: black;
  font-family: "Montserrat", sans-serif;
}

#b1 {
  border: none;
  outline: 0;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  margin: 0px 4px 32px 0px;
  margin-left: 40px;
  margin-top: 30px;
  font-size: 15px;
  padding-top: 20px;
  padding-left: 35px;
  padding-bottom: 20px;
  padding-right: 35px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: -55px;
  left: -40px;
}

#b1:hover {
  background-color: #555;
  color: white;
}

#b2 {
  border: solid 1px #000;
  outline: 0;
  color: black;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  margin: 0px 4px 32px 0px;
  margin-left: 40px;
  margin-top: 30px;
  font-size: 15px;
  padding-top: 20px;
  padding-left: 35px;
  padding-bottom: 20px;
  padding-right: 35px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: -55px;
  left: -80px;
}

#b2:hover {
  color: #777;
}

.mov-image {
  height: 100%;
  width: 100%;
  top: 900px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  /* z-index: 2; */
  position: absolute;
  /* height: 100vh; */
  display: flex;
  padding-block-start: 100px;
  padding-block-end: 200px;
  transition: background-image 1ms ease-in-out;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  animation-direction: alternate;
}

.mov-text {
  position: sticky;
  position: absolute;
  transition: 0.3s;
  top: 1130px;
  left: 60px;
}

.white-space {
  background-color: white;
  height: 80%;
  width: 100%;
}

.cen {
  position: relative;
  top: 1300px;
  padding: 50px;
  float: left;
  display: flex;
  justify-content: center;
}

.cen-text {
  position: relative;
  top: 300px;
  left: 75px;
  font-family: "Montserrat", sans-serif;
}

.cen-text button {
  color: #fff;
  background-color: #000;
  margin-left: 75px;
  padding: 14px 36px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.cen-text button:hover {
  color: #888;
  border-color: #888;
  transition: 0.3s;
}