@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url("http://fonts.cdnfonts.com/css/audi-type-2");
@import url(audi-core-ci-reset-and-basic.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body,
html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  /* background-color: whitesmoke; */
}

.main-image {
  background-image: url(https://identity-cdn.vwgroup.io/assets/2618792e1a60758e086305f0c09408e5804ea6d1/background/audi_background_original.jpg);
  background-size: cover;
  /* background-position: center top; */
  position: absolute;
  top: 0px;
  width: 65%;
  height: 100%;
  /* left: auto; */
  right: 0;
  /* z-index: -1; */
}

.mytext1 {
  font-size: large;
  font-weight: bold;
  position: relative;
  left: 80px;
  top: 150px;
}

.mytext2 {
  /* font-size: large;
  font-weight: bold; */
  position: relative;
  left: 5px;
  top: 200px;
  font-size: 38px;
  font-weight: 8px;
}

.mytext3 {
  /* font-size: 1rem; */
  /* color: #333; */
  position: relative;
  left: -180px;
  top: 250px;
}
.texts {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  margin: 45px;
}

.inputs {
  color: black(82, 77, 77);
  width: 16.5%;
  height: 30px;
  font-family:"Montserrat", sans-serif;
  padding: 5px;
  font-size: 20px;
  left: 50px;
  top: 320px;
  border: none;
  border-bottom: 2px solid darkslategray;
}

.inputs:hover {
  border-color: dimgray;
}

.inputs:focus {
  outline: none;
}

.message {
  color: black(82, 77, 77);
  background-color: white;
  width: 20%;
  height: 30px;
  border: none;
  font-size: 16px;
  left: 50px;
  top: 320px;
  font-family: "Montserrat", sans-serif;
  pointer-events: none;
}

.message:focus {
  outline: none;
  border: none;
}


.block1 {
  border: none;
  /* outline: 0; */
  background-color: dimgray;
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 0px 4px 32px 0px;
  padding: 15px 140px;
  font-size: 18px;
  position: relative;
  left: 60px;
  top: 340px;
  font-family: "Montserrat", sans-serif;
}

.block1:hover {
  background-color: dimgray;
  color: white;
}

.block2 {
  border: solid 1px #000;
  outline: 0;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  margin: 0px 4px 32px 0px;
  padding: 15px 91px;
  font-size: 18px;
  position: relative;
  left: 60px;
  top: 300px;
  font-family: "Montserrat", sans-serif;
}

.block2:hover {
  background-color: white;
  color: dimgray;
}

.base {
  position: relative;
  padding-top: 50px;
  margin-left: 470px;
  top: 200px;
  background-color: black;
}

.end-list{
   text-align: center;
   position: relative;
   top: -20px;
}
